div.interaction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    button{
        background-color: white;
        border: 1px solid black;
        border-radius: 5rem;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        &:hover{
            background-color: #efefef;
        }
    }
}    