#contentRef,
#contentArchivRef,
#contentTrashRef{
    display: flex;
    gap: 2rem;
}
div.notePanel{
    padding: 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
    height: 15rem;
    width: 15rem;
    background-color: aquamarine;

    &.archiv{
        background-color: goldenrod;
    }

    &.trash{
        background-color: coral;
    }

    h3{
        font-size: 1.4rem;
        font-weight: bold;
    }
    span.note{
        font-size: 1.2rem;
    }
}