/* Color Variables */
:root{
    --black: #000000;
    /* --bordeaux: #9F0908;
    --white: #ffffff;
    --grey: #675E54;
    --grey-darker: #0A141E; */

    /* radius */
    --b_rad: 1rem;
}

/* General Styling */
*{
    font-size:16px;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
    background: var(--white);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--black);
}

header{
    height: 5rem;
    background-color: var(--bg_darkblue_light);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
    div.logo{
        height: 3rem;
    }
}

main{
    display: flex;

}

section{
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}

div.wrapper{
    max-width:1440px;
    margin: 0 auto;
    width: 100%;
}